@model MyFace.Models.View.UserViewModel

@{
    Layout = "_Layout";
}

<article class="userInfo__container">
    <h1 class="title">@Model.FirstName @Model.LastName</h1>
    <img src="@Model.CoverImageUrl"/>

</article>